<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create recipe</title>
</head>
<body>
    <div>Create recipe</div>
    <div>
      <form method="post" action="create">
        <input type="text" name="title" placeholder="Enter the recipe title">
        <input type="text" name="time" placeholder="Enter cooking time in minutes">
        <button type="submit">Create</button>
      </form>
    </div>
</body>
</html>