<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>Find recipes by time</div>
    <div>
      <form method="post" action="filter">
        <input type="text" name="time" placeholder="Enter cooking time in minutes">
        <button type="submit">Find</button>
      </form>
    </div>
</body>
</html>